* {
    margin: 0%;
    padding: 0%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

nav{
     background-image:url(background.png);
    radial-gradient(2px 2px at 20px 30px, white, transparent),
    radial-gradient(1.5px 1.5px at 150px 80px, white, transparent),
    radial-gradient(1px 1px at 300px 120px, white, transparent),
    radial-gradient(2px 2px at 400px 40px, white, transparent),
    radial-gradient(1.5px 1.5px at 250px 160px, white, transparent),
    linear-gradient(to top, #2a0349, #000000);

  background-repeat: repeat;
  background-size: 500px 200px;
  
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    
    
}
nav img{
    filter: brightness(1.3)
    drop-shadow(0 0 6px rgba(255,255,255,0.6));
    position: relative;
    left: 30px;
    top: 18px;
    width: 100px;
    transition: 0.4s;
    

}
nav img:hover {
    transform: scale(1.05);
}