* {
    margin: 0%;
    padding: 0%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.box {
    position: fixed;
    left: 700px;
    top: 150px;
    border-radius: 10px;
    background-color: brown;
    width: 500px;
    height: 650px;
}