* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.impot-group {
    position: relative;
    width: 300px;
}

.impot-group input {
    width: 100%;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #068fff;
}