* {
    margin: 0%;
    padding: 0%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.header{
    
    background-image:url(background.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;   
    width: 100%;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}
nav img{
    position: relative;
    left: 30px;
    top: 30px;
    width: 100px;
    transition: 0.4s;
    

}
nav img:hover {
    transform: scale(1.05);
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 100px;


}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff5e00;
    display: block;
    margin: auto;
    transition: 0.5s;
    

}
.nav-links ul li:hover::after{
    width: 100%;
}
#thought{
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
    position: relative;
    top: 350px;
    left:700px;
    color: #ffffff;

}
#disclimer{
    font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
   position: relative;
    top: 350.5px;
    left: 800px;
    color: #ffffff;

}
