* {
    margin: 0%;
    padding: 0%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.header {
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    position: relative;
    left: 30px;
    top: 30px;
    width: 100px;
    transition: 0.4s;
}

nav img:hover {
    transform: scale(1.05);
}

.nav-links {
    flex: 1;
    text-align: right;
    transition: 1s;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 100px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff5e00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.hero-text {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadeUp 1.5s ease forwards;
}

.hero-text h1 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px;
    letter-spacing: 1px;
}


/* ===== BUTTON ===== */

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #c8a165;
    padding: 12px 35px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 1s;
}

.hero-btn:hover {
    background: #c8a165;
    color: #000;
}

nav .fa {
    display: none;
}


/* ===== ANIMATIONS ===== */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/* ===== Responsive ===== */

@media(max-width:700px) {
    nav {
        padding: 20px 30px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #ff5e00;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: right;
        z-index: 2;
        padding: 30px;
    }
    .hero-text h1 {
        font-size: 20px;
    }
    .hero-text p {
        font-size: 10px;
    }
    .nav-links ul li {
        margin-left: 20px;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}


/*-------about-------*/

.about {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

pre {
    color: #777;
    font-size: 15px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.about-col {
    flex-basis: 400px;
    background: #fff3f3;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 50px 10px;
    box-sizing: border-box;
    transition: all ease-in-out 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600px;
    margin: 10px 0;
}

.about-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
    pre {
        margin-left: -10%;
    }
}


/*-------------work------------*/

.work {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.text-work {
    color: #1d5702;
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.text-pre-work {
    color: #777;
    font-size: 15px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}

.row-work {
    margin-bottom: 5%;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img {
    width: 10%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 10px solid rgba(rgb(5, 2, 70), rgb(54, 2, 56), rgb(255, 0, 17), alpha);
    transition: all ease-in-out 0.5s;
}

.container img:hover {
    width: 25%;
}

@media(max-width: 700px) {
    .container {
        margin-left: 30px;
    }
    .container img {
        object-fit: fill;
        width: 24%;
        height: 100%;
    }
    .container img:hover {
        width: 100%;
        height: 100%;
    }
    .text-work {
        font-size: 50px;
        font-weight: 100;
    }
    .text-pre-work {
        color: #000000;
        font-size: 12px;
        font-size: 10px;
    }
}


/*-------------service------------*/

.service {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.text-service {
    color: rgb(155, 137, 96);
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 600px;
    margin-bottom: 20px;
}

.service-col {
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.service-col img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.service-col p {
    color: #777;
    font-size: 15px;
    font-weight: 300px;
    line-height: 22px;
    padding: 0%;
}

.service-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

@media(max-width: 700px) {
    .text-service {
        font-size: 50px;
        font-weight: 500px;
    }
}