* {
    margin: 0%;
    padding: 0%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.header {
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    position: relative;
    left: 30px;
    top: 30px;
    width: 100px;
    transition: 0.4s;
}

nav img:hover {
    transform: scale(1.05);
}

.nav-links {
    flex: 1;
    text-align: right;
    transition: 1s;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 100px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff5e00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.hero-text {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadeUp 1.5s ease forwards;
}

.hero-text h1 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 35px;
    letter-spacing: 1px;
}


/* ===== BUTTON ===== */

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #c8a165;
    padding: 12px 35px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 1s;
}

.hero-btn:hover {
    background: #c8a165;
    color: #000;
}

nav .fa {
    display: none;
}


/* ===== ANIMATIONS ===== */

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/* ===== Responsive ===== */

@media(max-width:700px) {
    nav {
        padding: 20px 30px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #ff5e00;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: right;
        z-index: 2;
        padding: 30px;
    }
    .hero-text h1 {
        font-size: 20px;
    }
    .hero-text p {
        font-size: 10px;
    }
    .nav-links ul li {
        margin-left: 20px;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}


/*-------about-------*/

.about {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

pre {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}