* {
    margin: 0%;
    padding: 0%;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.header{
    
    background-image:url(background.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;   
    width: 100%;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
nav img{
    width: 250px;

}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 100px;


}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #83380d;
    display: block;
    margin: auto;
    

}