* {
    margin: 0%;
    padding: 0%;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

}

nav{
    position: relative;
    overflow: hidden;

    background:
        /* Small stars */
        radial-gradient(1px 1px at 20px 30px, white, transparent),
        radial-gradient(1px 1px at 50px 80px, white, transparent),
        radial-gradient(1px 1px at 90px 40px, white, transparent),
        radial-gradient(1px 1px at 130px 120px, white, transparent),
        radial-gradient(1px 1px at 170px 60px, white, transparent),
        radial-gradient(1px 1px at 210px 150px, white, transparent),
        radial-gradient(1px 1px at 260px 30px, white, transparent),
        radial-gradient(1px 1px at 310px 90px, white, transparent),
        radial-gradient(1px 1px at 360px 50px, white, transparent),
        radial-gradient(1px 1px at 420px 140px, white, transparent),

        /* Medium stars */
        radial-gradient(2px 2px at 150px 40px, white, transparent),
        radial-gradient(2px 2px at 300px 100px, white, transparent),
        radial-gradient(2px 2px at 400px 70px, white, transparent),

        /* Background sky */
        linear-gradient(to top, #000000, #0b0131, #000000);

    background-repeat: repeat;
    background-size: 500px 200px;

    height: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.shooting-star {
    position: absolute;
    width: 150px;
    height: 2px;
    background: linear-gradient(to left, white, transparent);
    border-radius: 50%;
    transform: rotate(25deg);
    opacity: 0;
}

/* Star 1 */
.star1 {
    top: 20px;
    left: -200px;
    animation: shoot1 6s linear infinite;
}

/* Star 2 */
.star2 {
    top: 50px;
    left: -300px;
    transform: rotate(35deg);
    animation: shoot2 8s linear infinite;
    animation-delay: 2s;
}

/* Star 3 */
.star3 {
    top: 10px;
    left: -150px;
    transform: rotate(20deg);
    animation: shoot3 4s linear infinite;
    animation-delay: 4s;
}

/* ================= ANIMATIONS ================= */

@keyframes shoot1 {
    0% { left: -200px; top: 20px; opacity: 0; }
    10% { opacity: 1; }
    30% { left: 800px; top: 120px; opacity: 0; }
    100% { opacity: 0; }
}

@keyframes shoot2 {
    0% { left: -300px; top: 50px; opacity: 0; }
    15% { opacity: 1; }
    35% { left: 900px; top: 150px; opacity: 0; }
    100% { opacity: 0; }
}

@keyframes shoot3 {
    0% { left: -150px; top: 10px; opacity: 0; }
    10% { opacity: 1; }
    25% { left: 750px; top: 100px; opacity: 0; }
    100% { opacity: 0; }
}






nav img{
   filter: brightness(1.3)
    drop-shadow(0 0 6px rgba(255,255,255,0.6));
    position: relative;
    left: 30px;
    top: 18px;
    width: 100px;
    transition: 0.4s;
    

}
nav img:hover {
    transform: scale(1.05);
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    right: 100px;


}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff5e00;
    display: block;
    margin: auto;
    transition: 0.5s;
    

}
.nav-links ul li:hover::after{
    width: 100%;


}